@import '../../styles/vars.scss';
@import "../../styles/mixins.scss";

.sign-in-container {
  background: grey;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid $title;

  .title {
    color: $title;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
  }

  .subtitle {
    text-align: center;
  }

  .goToReg {
    margin-top: 10px;
    text-align: center;
  }

  .goToReg-button {
    cursor: pointer;
    color: $title;
    transition: 0.3s;

    &:hover {
      color: rgb(255, 145, 0);
    }
  }
}